@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* font-family: 'Mulish', sans-serif; */

:root {
  --orange: #FEA617;
 /*  --orange: rgb(245, 215, 124); */
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  font-family: "Mulish", sans-serif;
}
/* header */
.logo {
  height: auto;
  width: 60px;
  z-index: 50;
}

/* Header Nav */
/* .link_nav::before {
  content: "1";
  color: blue;
} */

.burger-icon {
  font-size: 3rem;
  z-index: 5;
  color: grey;
}

#burger-checkbox {
  display: none; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 30px 24px 30px 24px;
}
header .nav {
  display: none;  
 
}
header input:checked ~ .nav {
  display: flex;

} 
/* @media (max-width: 610px) {
  header input:checked ~ .nav {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      background-color: white;
      margin: 0;
      text-align: center;
      top: 100px;
      box-sizing: content-box;
  }
  .img_nav_burger {
      margin-top: 40px;
  
  } 

  nav span {
      margin-top: 20px;
  }

} */


header .nav {
  flex-direction: column;
  
}


header .nav a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(29, 31, 42);
  font-weight: 500;
  font-family: 'Mulish', sans-serif;   
  padding: 20px;
  transition: color 0.2s linear;
  white-space: nowrap;
}
header .nav a:hover {
  color: var(--orange);
}

@media (min-width: 610px) {
  .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 30px 40px 30px 40px;
  }
  
  
  header nav {
      display: flex;
  }

  .burger-icon {
      display: none;
  }

  header .nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex: 0.4;    
  }
  .img_nav_burger {
      display: flex;
  }
  
}


/* button */
.buttons {
  display: flex; 
  padding-left: 24px;
  margin-top: 5px;
}



.buttons_map {
  background-color: var(--orange);
  
  color: white;
  background-color: black;
  font-family: 'Mulish', sans-serif;
  border-style: solid;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 14px;
  font-weight: 500;
     
}
.buttons_map:hover {
  background-color: var(--orange);
  border-color: var(--orange);
  cursor: pointer;
}
@media (max-width: 290px) {
  .buttons_map {
      margin: auto;
      width: 100%!important;
  }
}

/* Wrapper */

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 40px;
  font-family: 'Mulish', sans-serif;
  margin-bottom: 30px;
}

.text {
 margin-left: 15px;
  width: 170px;
  color: var(--orange);
  font-size: 40px;
  font-family: 'Mulish', sans-serif;
  white-space: nowrap; /* не переносить текст на другую строку */
  overflow: hidden; /* скрываем переполнение контентом */
  border-right: 3px solid white; /* рисуем курсор */
  animation: cursor 0.75s step-end infinite, printed_text 1000ms steps(20);
  animation-play-state: revert-layer;
}

@keyframes cursor {
  0% {
    border-color: var(--orange);
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: var(--orange);
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
}
/* ABOUT */


.about_size {
  text-align: center;
  column-count: 2;
  width: 1200px;
}
.about_teams {
  max-width: 600px;
}
.about_size_left {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.about_size p {
  font-size: 16px;
  font-weight: 300;
}
.about_size h3 {
  font-size: 16px;
  font-weight: 700;
}
.about_h3_orange h3 {
  color: var(--orange);
  font-size: 32px;
}

.about_size2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #9690a20f;
  margin-top: 40px;
}
.about_size2 H2 {
  margin-top: 40px;
  text-align: center;
}
.about_size2_left {
  text-align: left;
  column-count: 1;
}

/* Accordion */

.accordion__item {
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
  display: block;
  transition: all 1s linear;
}

.accordion__item.active .accordion__header {
  border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__header:after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.accordion__header {
  padding: 15px 0;
  position: relative;
  cursor: pointer;
  background-color: #9690a214;
}

.accordion__header:after {
  content: "";

  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}

.accordion__content {
  display: none;
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.8px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

.accordion__title {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}


