@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&family=Rubik:wght@400;500&display=swap');

/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Rubik', sans-serif; */
:root{
    --orange: rgb(245, 215, 124);
}

body {
    margin: 0;
}

.size {
    max-width: 1200px;
    margin: auto;
} 


/* about */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    padding: 120px 0 60px 0;
    
}

@media (min-width: 60px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;  
    }
}
@media (min-width: 760px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;  
    }
}
@media (min-width: 960px) {
    .about {
        grid-template-columns: 1fr 1fr 1fr 1fr;  
    }
}
.about h3 {
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    margin-bottom: 0;
}
.about p {
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    font-family: 'Rubik', sans-serif; 
    margin-top: 0;
}


.about_start {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
}

.about_analitic {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
}

.about_plan {
    display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	flex-direction: row;
    
}
.plan {
    height: 60px;
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
    background-color: var(--orange);
    border-radius: 50%;
}
.plan:hover {
    color: black;
    opacity: 0.8;    
}

.about_reporting {
    display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	flex-direction: row;
    
}





.reporting {
    height: 60px;
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
    background-color: var(--orange);
    border-radius: 50%;
  }
.reporting:hover {
    color: black;
    opacity: 0.8;   
}